<% provide(:title, "About") %>
<h1>About</h1>
  <p> 
    Hey, I'm Gilmar Filho, Software Engineer student, Brazilian, 19 years old. And i'm trying to learn some of Ruby on Rails here:<a href="http://www.railstutorial.org/"><em>Ruby on Rails
    Tutorial</em></a> 
  </p>
  <p> 
    If you want to know more about me, here is little bit of my work: <a href="https://github.com/gilmarfilho">GitHub</a> 
  </p>
  <p>
    And, if you want to know more of Ruby on Rails:
  </p>
  <p>
  <a href="http://www.railstutorial.org/book">Tutorial</a> </br>
  <a href="http://screencasts.railstutorial.org/">Screencast Series</a> </br>
  <a href="http://rubyonrails.org/">Ruby on Rails</a> </br>
  </p>