<% provide(:title, "About") %>
<h1>Contact</h1>
<p>You can find me on:</p>
<ul>
  <li> <%= link_to "Facebook" , "https://www.facebook.com/gilmarf.xavier" %> </li>
  <li> <%= link_to "Linkedin" , "https://br.linkedin.com/in/gilmarfilho"  %> </li>
  <li> <%= link_to "Github"   , "https://github.com/gilmarfilho"          %> </li>
  <li> <%= link_to "Twitter"  , "https://twitter.com/gilmar_xfilho"       %> </li>
</ul>