<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Dont freak out, this is just a trial version from
  <a href="http://www.railstutorial.org/help">Rails Tutorial</a>.
  What about you try a little bit?
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>