<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Dont freak out, this is just a trial version from
  <%= link_to "Rails Tutorial", "http://www.railstutorial.org/help" %>.
  What about you try a little bit?
  <%= link_to "Ruby on Rails Tutorial"   , "http://www.railstutorial.org/book" %>.
</p>